API_URL= URL of your json feed of cams
API_HOST= Used for security in request if necessary 
API_REFERRER= Used for security in request if necessary
CAM_LOCATION_LAT= Latitude for the sunrise and sunset calculations
CAM_LOCATION_LON= Longitude for the sunrise and sunset calculations

BASEDIR_STILLS= Full path to location to store current stills
BASEDIR_STILLS_ARCHIVE= Full path to location to store archive stills
RTMP_SERVER_URL= RTMP server for your streams

